{% extends 'news/base.html' %}
{% load static %}
{% block title %} Login sahifasi {% endblock title %}
{% block content %}
    <h2>Saytga kirish uchun to'ldiring</h2>
    <form method="post">{% csrf_token %}
    {{form.as_p}}
    <button type="submit">Login</button>
    </form> <br> <br>
    <p>Agar parolingizni unutgan bo'lsangiz uni qayta tiklashingiz mumkin</p>
    <a href="{% url 'password_reset' %}"><button type="button" class="button text-danger">Parolni tiklash</button></a>



{% endblock content %}