{% extends 'news/base.html' %}
{% load static %}
{% block title %}Foydalanuvchu  Parolini tiklash {% endblock %}
{% block content %}
    <h1>Parolni tiklash</h1>
    <p>Parolingiizni tiklash quyidagi formani to'ldiring</p>
    {% if validlink %}
        <form method="post"> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Parolni almashtirish</button>
        </form>
    {% else %}
        <p>Siz yaroqli havoladan foydalanmadingiz, link oldin ishlatilgan
            yoki ishlatilish vaqti kechikkan bo'lishi mumkin</p>
    {% endif %}
{% endblock %}